/* Table of Contents */

/* 1. Reset */
/* 2. General */
/* 3. Containers */ 
/* 4. Header */
/* 5. Article */
/* 6. Main */
/* 7. Nav */
/* 8. Aside */
/* 9. Footer */
/* 10. Misc */
/* 11. Desktop Settings */


/* Written by Christian Boggan */


/* 1. Reset */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}
/* End Reset */


/* 2. General */
p {
	
}
h1, h2, h3, h4, p, img, object, summary, details {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: 'MedievalSharp', sans-serif; 
}
h1 {
	text-shadow:-1px -1px 0 #000,
				1px -1px 0 #000,
				-1px 1px 0 #000,
				1px 1px 0 #000;
}
h2 {
	
}
h3 {
	text-shadow:-1px -1px 0 #000,
				1px -1px 0 #000,
				-1px 1px 0 #000,
				1px 1px 0 #000;
}
h4 {
	display: block;
	font-weight: normal;
	font-style: italic;
	margin: auto;
}
a {
	color: #ffdab5;
	text-decoration: none;
}
img {
	text-align: center;
	max-width: 100%;
	min-height: auto;
	display: block;
	align-self: center;
	margin: auto;
}
/* End General */

/* 3. Containers */
.container, .layout, header, footer {
	display: flex;
	flex-direction: column;
}
.container {
	box-shadow: 0px 0px 20px 2px black;
	margin: 0;
	background: #2f2222;
	background-image: url(images/background2.jpg);/* Page Background*/
	background-repeat: repeat;
	background-position: right-top;
	background-blend-mode: lighten;
}
aside, nav {
	background-color: #2b0606;
	background-image: url(images/background3.jpg);
	background-repeat: repeat;
	background-position: right-top;
	text-align: center;
	flex: 0 0 auto;
	flex-direction: row;
	color: white;
	z-index: 1;
}
/* End Containers */


/* 4. Header */
header {
	box-shadow: 0px 2px 15px 0px black;
	z-index: 2;
}
header h1 {
	padding: 0.1em 0;
	text-align: center;
	color: white;
	background-color: #601919; 
	background-image: url(images/background1.jpg);
	background-size: 100%;
	background-position: top-left;
	background-blend-mode: difference;
	border: 0.5px solid #000000;
	text-transform: uppercase;
	font-size: 1.5em;
}
/* End Header */


/* 5. Article */
article {
	border-bottom: 1px dashed black;
    align-self: center;
}

article figure {
	margin: auto;
	padding: 0.5em;
	align-self: center;
}
article figcaption {
	text-align: center;
	margin: auto;
}
article p{
	padding: 0.5em 0;
}
article p:first-line{
	font-weight: normal !important;
}
/* End Article */


/* 6. Main */
main {
	background: #c5b583;
	background-image: url("images/parchment.jpg");
	background-size: 100%;
	background-position: right-top;
	display: flex;
	flex-direction: column;
	
}
main h2 {
	padding: 5% 0 0 0;
	margin: 0 auto;
	max-width: 80%;
	text-align: center;
	border-bottom: 2px solid black;
	font-size: 2.5em;
}
main p {
	text-align: justify;
	padding: 0 1em;
	font-size: 1.5em;
	line-height: 1.5em;
	padding: 1em 2em;
	margin: auto;
}

main object {
	height: 500px;
	width: 100%;
}
main details {
	padding: 1em 2em;
}
#lazyfix {
	margin: 1em 2em;
}
details summary::-webkit-details-marker {
	display: none;
}
main summary {
	font-size: 1.5em;
}
main summary:first-letter{
	font-size: 1.5em;
}
main header {
	margin: 0 auto;
	padding: 1em;
	text-align: center;
	box-shadow: 0px 0px 0px 
}
main header p{
	margin: 0 auto;
	text-align: center;
}
main p:first-line{
	font-weight: bold;
}
main p:first-letter{
	font-size: 1.5em;
	line-height: 0.9em;
}
/* End Main */

/* 7. Nav */
nav {
	order: -1;
	width: auto;
	display: flex;
	flex-direction: row;
	box-shadow: 0px 1px 10px 0px #000000;
}
nav h3 {
	text-align: center;
	padding: auto 33.33%;
	margin: auto;
}
/* End Nav */


/* 8 Aside */
aside {
	box-shadow: 0px -1px 10px 0px #000000;
	display: flex;
}
aside div {
	margin: 5px;
	align-content: center;
}
aside ul {
	list-style-type: none;
}
aside li {
	padding: 0.5em;
}
aside h3 {
	padding: 0 0 0.5em 0;
}


/* 9 Footer */
footer {
	border-top: 1px solid black;
	box-shadow: 0px -2px 15px 0px black;
	background-color: #601919; 
	background-image: url(images/background1.jpg);
	background-size: 100%;
	background-position: top;
	background-blend-mode: difference;
	z-index: 2;
}
footer p{
	color: white;
	display: inline;
	text-align: center;
	text-shadow:-1px -1px 0 #000,
				1px -1px 0 #000,
				-1px 1px 0 #000,
				1px 1px 0 #000;
}
/* End Footer */


/* 10. Misc */

/* Grow Shadow */
.hvr-grow-shadow {
  display: inline-block;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}
.hvr-grow-shadow:hover, .hvr-grow-shadow:focus, .hvr-grow-shadow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
/* End Misc */


/* 11 Desktop Settings */
@media (min-width: 768px) {
	.layout {
		flex-direction: row;
		flex: 1;
	}
	main {
		flex: 1;
	}
	nav, aside {
	/* 12em is the width of the columns */
		flex: 0 0 12em;
		flex-direction: column;
		text-align: center;
	}
	.container {
		margin: 4% 4%;
	}
	nav h3 {
		text-align: center;
		padding: 1em 1em;
		margin: 0;
	}
	nav {
		box-shadow: 1px 0px 10px 0px #000000;
	}
	aside {
		box-shadow: -1px 0px 10px 0px #000000;
	}
	header h1 {
		font-size:3em;
	}
	h4 {
	display: block;
	font-weight: normal;
	font-style: italic;
	margin: auto;
	}
}
/* End Desktop Settings */

